header{
    width: 100vw;
    height: 5vh;
    position: absolute;
    top: 0;
    background: rgba(12,12,12,0.3);
}
.box-1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    overflow: hidden;
}
.box-2{
    width: 30vh;
    height: 30vh;
    box-shadow: 0 0 0 50vh rgba(0, 0, 0, .5);
}
footer{
    width: 100vw;
    height: 15vh;
    position: absolute;
    bottom: 0;
    background: rgba(12,12,12,0.8);
}
.video{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}